<div class="container">
<h2 class="my-3 ml-3"><%= @customer.name %>さんの会員詳細</h2>
<dl class="row">
  <dt class="col-2">会員ID</dt>
  <dd class="col-10"><%= @customer.id%></dd>
  <dt class="col-2">氏名</dt>
   <dd class="col-10"><%= @customer.name%></dd>
  
  <dt class="col-2">メールアドレス</dt>
   <dd class="col-10"><%= @customer.email %></dd>
  <!--<dt class="col-2">会員ステータス</dt>-->
  <!--    % if @customers.is_deleted == false %>-->
  <!--    <dd class="col-10 text-success">有効</dd>-->
  <!--    % else %>-->
  <!--    <dd class="col-10 text-secondary">退会</dd>-->
  <!--    % end %>-->
 </dl>
 <div class="row">
  <div class="col-2"></div>
  <div class="col-2"><%= link_to "編集する", edit_admin_customer_path(@customer),class: 'btn btn-success' %></div>
  <div class="col-4"><%= link_to "注文履歴一覧をみる", admin_path,class: 'btn btn-success' %></div>
 </div>
 
<p>Find me in app/views/admin/customers/show.html.erb</p>
